
<h2 class="mb-3">New article</h2>

<%= form_with model: @article do |f| %>
  <div class="form-group mb-3">
    <%= f.label :title, :class => 'd-block' %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :content, :class => 'd-block'%>
    <%= f.text_area :content, size: "70x5", :class => 'form-control' %>
  </div>

  <%= f.submit value: "Create article", :class => 'btn btn-primary mb-3' %>
<% end %>

<%= link_to "Go back", articles_path, :class => 'btn btn-secondary'%>
